<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <title>Riego Automatizado 2</title>
</head>

<body>
    <header id="header-00">
        <div class="empty-div">

        </div>
        <!------------------------------------------------------------------------------->
        <div id="header-central-content">

            <div id="header-central-content-child-one">
                <img src="../assets/logo.png" alt="logo">
                <div id="header-central-content-child-one-emptydiv">

                </div>
                <nav id="header-central-content-child-one-nav">
                    <a>Objetivo general &#9660;</a>
                    <a>Acerca del proyecto &#9660;</a>
                    <a>Información de contacto &#9660;</a>
                </nav>
            </div>

            <div id="header-central-content-child-two">
                <p><a href="otro.html">Regístrate</a> o bien </p>
                
                <button type="submit">Iniciar sesión</button>

            </div>
            
        </div>
        <!------------------------------------------------------------------------------->
        <div class="empty-div">

        </div>
    </header>
    <section>
        
    </section>
    
</body>

</html>