<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <title>WaterControl</title>
</head>

<body>
    <header id="header-00">
        <div class="empty-div">

        </div>
        <!------------------------------------------------------------------------------->
        <div id="header-central-content">

            <div id="header-central-content-child-one">
                <img src="../assets/logo.png" alt="logo">
                <div id="header-central-content-child-one-emptydiv">

                </div>
                <nav id="header-central-content-child-one-nav">
                    <a>OBJETIVO GENERAL &#9660;</a>
                    <a>ACERCA DEL PROYECTO &#9660;</a>
                    <a>INFORMACIÓN DE CONTACTO &#9660;</a>
                </nav>
            </div>

            <div id="header-central-content-child-two">
                <p><a href="otro.html">Regístrate</a> o bien </p>
                
                <button type="submit">Iniciar sesión</button>

            </div>
            
        </div>
        <!------------------------------------------------------------------------------->
        <div class="empty-div">

        </div>
    </header>
<!------------CONTENIDO PRINCIPAL-------------------------------------------------------->
    <main>
        <div id="index-main-div">

            <section id="index-main-div-section">
                <h1>¡El poder del agua en la palma de tu mano!</h1>
                <p>Mantén tus plantas saludables sin esfuerzo. Olvídate del riego manual y permite que la tecnología se encargue de proporcionar el cuidado óptimo en el momento exacto </p>
                <a href="otro.html" id="index-main-div-section-button">COMIENZA AHORA</a>
            </section>
            <aside id="index-main-div-aside">

            </aside>
        </div>
    </main>
<!-------------------------------------------------------------------------------------------->
    <footer>
        <div class="footer-div">
            <h3>WaterControl</h3>
            <p>¡Empecemos a cosechar éxitos!</p>
            <p>@2024 WaterControl. Todos los derechos reservados.</p>
        </div>

        <div class="footer-div">
            <h3>Síguenos</h3>
            <p>Instagram</p>
            <p>Twitter</p>
            <p>Linkedln</p>
        </div>

        <div class="footer-div">
            <h3>Legal</h3>
            <p>Términos</p>
            <p>Privacidad</p>
        </div>
        


    </footer>

</body>

</html>